.sortButton {
  border-width: 0px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: green;
  align-self: flex-end;
  outline: 0;
  box-shadow: 0px 2px 2px gray;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 150px;
  position: fixed;
}

.addButtonText {
  color: white;
  font-size: 40px;
  font-weight: 400;
}
